.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  &:active {
    transition: opacity 2s;

    & > .inventoryTooltip {
      opacity: 0;
      visibility: hidden;
      background-color: transparent;
    }
  }

  & > div.oneItemWrapper {
    display: flex;
    min-width: 66px;
    max-width: 66px;
    min-height: 66px;
    max-height: 66px;
  }
}
