.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  height: 100%;

  .inventoryTooltip {
    max-height: fit-content;
  }
  &:active {
    transition: opacity 2s;

    & > .inventoryTooltip {
      opacity: 0;
      visibility: hidden;
      background-color: transparent;
    }
  }

  & > div.oneItemWrapper {
    display: flex;
    min-width: 66px;
    max-width: 66px;
    min-height: 66px;
    max-height: 66px;
  }
}
