$sidebarWidth: 50px;
$inventoryBottomHeight: 55dvh;

.inventoryWrapper {
  width: 100%;
  height: 100%;
  .inventoryMenu {
    min-height: 5dvh;
  }

  .inventoryBottom {
    display: flex;
    width: 100%;
    padding: 0.2rem;
    overflow: hidden;
    align-items: flex-start;
    max-height: $inventoryBottomHeight;
    .inventoryItems {
      max-width: calc(100% - $sidebarWidth);
      min-width: calc(100% - $sidebarWidth);
      overflow-x: hidden;
      max-height: $inventoryBottomHeight;
    }

    .sidebar {
      padding: 0.2rem;
      max-width: $sidebarWidth;
      min-width: $sidebarWidth;
      background-image: var(--primary-glow);
      overflow-x: hidden;
    }
  }
}
