@import "@/styles/mixins";

.characterWrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
  max-height: 90dvh;
  grid-template-columns: 1.5fr 1fr 1.6fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  position: relative;
  grid-template-areas:
    "INVENTORY AVATAR TAB"
    "INVENTORY EQUIPMENT TAB";

  .avatar {
    grid-area: AVATAR;
  }
  .equipment {
    grid-area: EQUIPMENT;
  }
  .tab {
    grid-area: TAB;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .tabNavigation {
      display: flex;
      justify-content: space-around;
      * {
        margin: 0.4rem;
        flex-grow: 1;
      }
    }
    .tabContent {
      flex-grow: 1;
      display: flex;
      overflow: hidden;
    }
  }
  .inventory {
    grid-area: INVENTORY;
  }

  @include respond(small) {
    .equipment {
      min-height: 60%;
      max-height: 60%;
    }
    .inventory {
      min-height: 40%;
      max-height: 40%;
    }
  }

  @include respond(xsmall) {
    display: flex;
    flex-direction: column-reverse;

    .equipment {
      min-height: 45%;
      max-height: 45%;
    }
    .inventory {
      min-height: 55%;
      max-height: 55%;
    }
    .avatar {
      display: none;
    }
    .tab {
      display: none;
    }
  }

  & > div {
    position: relative;
  }

  & > div {
    background-image: var(--primary-glow);
    padding: 0.5rem;
    padding-bottom: 0rem;
  }
}
