@import "@/styles/mixins";

.characterWrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
  max-height: 90dvh;
  grid-template-columns: 1fr 1fr 0.8fr 0.8fr;
  grid-template-rows: 0.25fr 1.5fr 1fr 1.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "USER-DETAILS USER-DETAILS USER-DETAILS USER-DETAILS"
    "AVATAR EQUIPMENT TAB TAB"
    "AVATAR EQUIPMENT TAB TAB"
    "INVENTORY INVENTORY TAB TAB"
    "INVENTORY INVENTORY TAB TAB";

  position: relative;

  & > div {
    position: relative;
  }

  .userDetails {
    grid-area: USER-DETAILS;
  }
  .avatar {
    grid-area: AVATAR;
  }
  .equipment {
    grid-area: EQUIPMENT;
  }
  .tab {
    grid-area: TAB;
    max-height: 100%;
    .tabNavigation {
      display: flex;
      justify-content: space-around;
      * {
        margin: 0.4rem;
        flex-grow: 1;
      }
    }
    .tabContent {
      display: flex;
      max-height: 90%;
      min-height: 90%;
      overflow: hidden;
    }
  }
  .inventory {
    grid-area: INVENTORY;
  }

  & > div {
    background-image: var(--primary-glow);
    padding: 0.5rem;
    padding-bottom: 0rem;
  }
}
