@import "@/styles/mixins";

.trainCharacterStatisticsWrapper {
  display: flex;
  overflow-x: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  flex-wrap: wrap;
  min-width: 100%;

  .baseDetails {
    min-width: 100%;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #082f49;
    border-top: 1px solid #082f49;
    border-radius: 0.5rem;
    * {
      font-size: 0.8dvw !important;
    }
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;

    background-image: var(--primary-glow);
    padding-bottom: 0.5rem;
  }
}
