.itemsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  & > div.oneItemWrapper {
    display: flex;
    min-width: 66px;
    max-width: 66px;
    min-height: 66px;
    max-height: 66px;
  }
}
