.equipmentWrapper {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;

  .equipmentTooltip {
    max-height: fit-content;
  }

  &:active {
    transition: opacity 2s;

    & > .equipmentTooltip {
      opacity: 0;
      visibility: hidden;
      background-color: transparent;
    }
  }
  & > div {
    width: 100%;
  }
  .head {
    grid-area: head;
  }
  .left_hand {
    grid-area: left-hand;
  }
  .neck {
    grid-area: neck;
  }
  .right_hand {
    grid-area: right-hand;
  }
  .chest {
    grid-area: chest;
  }
  .foots {
    grid-area: foots;
  }
  .arms {
    grid-area: arms;
  }
  .equipmentContainer {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 6em 5em 6em 5em 5em;
    grid-template-areas:
      ". head ."
      ". neck ."
      "left-hand chest right-hand"
      "arms . ."
      ". foots .";
    position: relative;
    & > div {
      //styles[eqField.toLowerCase()] // head, left_hand, next etc
      margin: 0.1rem;
      display: flex;
      position: relative;
      .equipedField {
        width: 100%;
        height: 100%;
      }
      .emptyEquipmentSlot {
        z-index: 10;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        &:hover {
          background-image: var(--primary-glow);
        }
      }

      .background {
        box-shadow: 1px 1px 3px 2px green;
        border-radius: 0.25rem;
        position: absolute;
        opacity: 0.4;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: var(--details-glow);
      }
    }
  }
}
