.menuLinksList {
  li {
    width: 90%;
    height: 90%;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
  }
  a:hover {
    color: lighten($color: blue, $amount: 34);
  }
}
