@import "@/styles/mixins";

.contentBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: var(--primary-glow);
  filter: brightness(60%);
}

.userDetailsWrapper {
  background-image: var(--primary-glow);
  padding: var(--user-details-padding);
  filter: brightness(120%);
  border-bottom: 1px solid #083344;
}

.contentWrapper {
  border-radius: 0.5rem;
  flex-grow: 1;
  display: flex;
  align-self: center;
  position: relative;
  width: 70%;
  max-height: var(--content-height);

  main {
    min-width: 100%;
  }

  @include respond(large) {
    width: 100%;
    justify-content: center;
  }
}
