.dungeonsWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  & > div:first-child {
    margin-top: 10%;
  }

  & > div {
    width: 100%;
    text-align: center;
  }

  .dungeonDetails {
    flex: 1 0 50%;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
      display: flex;
      justify-content: center;
    }

    .buttonNavigation {
      max-width: 25%;
      min-width: 25%;
    }

    .choosenLevel {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    * {
      font-size: 3dvw;
    }
  }

  .dungeonActionsWrapper {
    flex: 0 0 10%;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    & > button {
      min-width: 80%;
      height: 100%;
    }

    .reportDisplayWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(var(--secondary-second-rgb));
    }

    .reportDisplayWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .reportButtonConfirm {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        button {
          width: 100%;
        }
      }
    }
  }
}
