.characterStatistics {
  display: flex;
  flex-direction: column;
}

.characterAdditionalStatistics {
  &.shown {
    display: block;
  }
}

.statisticsVisibleDetails {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-bottom: 1px solid gray;
  border-radius: 0.5rem;

  & > div {
    font-size: 1.1vw;
  }

  & > div:first-child {
    max-width: 60%;
    min-width: 60%;
  }
  & > div:not(:first-child) {
    text-align: center;
    font-weight: 800;
  }
}
