.characterStatistics {
  display: flex;
  flex-direction: column;
}

.characterAdditionalStatistics {
  &.shown {
    display: block;
  }
}

.statisticsVisibleDetails {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-bottom: 1px solid rgb(var(--secondary-first-rgb));
  border-radius: 0.5rem;

  & > div {
    font-size: 1.1vw;
  }

  & > div {
    display: flex;
    text-align: center;
  }
  & > div:not(:first-child) {
    text-align: center;
    font-weight: 800;
  }

  .statisticValueWrapper {
    display: flex;
    justify-content: space-between;
    width: 33%;

    .statisticTrainWrapper {
      & > * {
        margin-left: 0.1rem;
      }
    }
  }
}

.baseDetails {
  padding: 0.5rem;
  & > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(var(--secondary-first-rgb));
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-radius: 0.5rem;
    * {
      font-size: 1.3em !important;
    }
  }
}
