$skirmishDataWrapperMaxHeight: 70dvh;

.skirmishesWrapper {
  * {
    font-size: 1.9vmin;
  }
  padding: 0.2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;

  div.skirmishesList {
    flex-direction: column;
    display: flex;
    min-width: 100%;
  }

  div.skirmishDataWrapper {
    max-height: $skirmishDataWrapperMaxHeight;
    min-height: $skirmishDataWrapperMaxHeight;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    & > div {
      max-width: 45%;
      min-width: 45%;
      min-height: 20%;
      max-height: 100%;
      align-items: center;
      & > div {
        font-weight: 600;
        padding: 0.5rem;
        max-width: 20%;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
      }
      & > div:first-child {
        max-width: 70%;
        min-width: 70%;
      }
    }

    div.skirmishChallenges {
      border-radius: 1rem;
      margin-top: 0.5rem;
      padding-top: 0.2rem;
      padding-left: 1rem;
      background-image: var(--primary-glow);

      &.choosen {
        box-shadow: 1px 1px 4px 1px green;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 1px -1px 4px 1px blue;
      }
      display: flex;
      & > div {
        padding-top: 0.5rem;
        padding-right: 2rem;
        max-width: 48%;
      }

      span {
        font-size: 0.8em;
        font-weight: 700;
        color: yellow;
      }
    }
  }

  div.challengeDataActionWrapper {
    padding-top: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0px -2px 4px 0px green;
    display: flex;
    width: 100%;
    .challengeDataAction {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .challengeActions {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      button {
        max-width: 80%;
        height: 100%;
      }
    }
  }
}
